/* Body styles */
body {
    font-family: 'Teko', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f1de;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header styles */
header {
    font-family: 'Teko', sans-serif;
    background-color: #f4f1de;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    font-weight: lighter 100;
}

.menu {
    background-color: #e07a5f;
    padding: 10px 0;
    text-align: center;
    margin-top: 0;
    font-weight: bold;
}

.menu li {
  display: inline-block;
  margin: 0 10px;
}

.menu li a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease;
   font-weight:bold;
}

.menu li a:hover {
  background-color: #d9d9d9;
}
/* Existing styles */

/* Existing styles */

.menu li.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #777777;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 999; /* Adjust the z-index value as needed */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu li.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  margin-bottom: 5px;
  padding:5px;
}

.dropdown-menu li a {
  color: #00529f;
  text-decoration: none;
  padding: 5px 10px;
  display:block;
   font-weight:bold;
}

.dropdown-menu li a:hover {
  background-color: #e0e0e0;
}


.logo {
  margin-right: 10px;
}

.logo img {
  max-width: 120px;
  height: auto;
  content: url("logo.png");
}

.portal-buttons {
  display: flex;
  justify-content: center;
}

.portal-buttons button {
  margin: 0 5px; /* Adjust the margin as needed */
}

h1 {
    color: #81b29a;
    margin: 0;
    text-align: center;
    font-size: 60px; /* Adjust the font size as needed */
    font-weight: bold;
    flex: 1;
    margin-left: -140px;
    font-weight: bold;
}

/* Main section styles */
main {
  flex: 1;
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

h2 {
  color: #81b29a;
  text-align: center;
  font-weight:bold;
}

/* Form styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  width: 120px;
  font-weight:bold;
}
.textbox {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.banner {
    display: none;
    background-color: #81b29a;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 70px; /* Adjust the value as needed */
    left: 0;
    width: 100%;
}
.line {
  width: 2px;
  height: 50%;
  background-color: black;
  position: absolute;
  top: 150;
  left: 49%;
  transform: translateX(-50%);
}
.main-content {
  margin-bottom: 28px; /* Adjust the value as needed */
}

.banner-text {
  color: #333;
  white-space: nowrap;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-100%, -50%);
  animation: bannerMove 30s linear infinite;
}

@keyframes bannerMove {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}



input[type="text"],
input[type="password"] {
  flex: 1;
  padding: 5px;
  font-size: 16px;
   font-weight:bold;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

/* Footer styles */
footer {
    background-color: #81b29a;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}